{{ define "bodyattr" }}class="width-800"{{ end }} {{ define "page" }}
<article class="container">
  <h1>{{ .Title }}</h1>
  <nav class="top-nav">
    <a href="/">&larr; Back to home</a>
    <span class="spacer">
      {{ if eq .Section "posts" }} {{ .WordCount }} words &CenterDot; {{
      .ReadingTime }} minutes to read {{ end }}
    </span>
    {{ with .Date }}
    <span>{{ time.Format ":date_medium" . }}</span>
    {{ end }}
  </nav>
  {{ .Content }}
</article>

{{ block "footer" . }}
<footer>
  <p>
    This site has no analytics whatsoever so if you would like to show your
    appreciation or discuss anything, you can reach out to me over email (<a
      href="mailto:hatsune@mica.lgbt"
      >hatsune@mica.lgbt</a
    >) or on Matrix (@hmica:matrix.org).
  </p>
  <p>
    Thank you for respecting my <a href="/pronouns">pronouns</a> when you do!
  </p>
  <p style="text-align: center; font-style: normal">💛🤍💜🖤</p>
</footer>
{{ end }} {{ end }}
