<div class="wikipedia-box">
  <p class="name">Mica</p>
  <p>
    <i>Their Majesty</i><br /><i
      ><abbr
        title="Red Hat Certified System Administrator"
        >RHCSA</abbr
      >
      <abbr
        title="Red Hat Certified Engineer (certification ID on request since it's linked to my full legal name and I'm not doxxing myself on the internet)"
        >RHCE</abbr
      >
      <abbr
        title="Red Hat Certified OpenShift Administrator; Why doesn't this have an abbreviation? (Again, certification ID on request)"
        >OpenShift</abbr
      ></i
    >
  </p>
  <a
    href="{{ (resources.Get "images/octoheart.png").RelPermalink }}"
    class="image-centered"
  >
    {{ with resources.Get "images/octoblue.jpg" }}
    <img
      src="{{ .RelPermalink }}"
      width="{{ .Width }}"
      height="{{ .Height }}"
      alt="A Splatoon 3 Octoling winking at the viewer while performing the 'Sarcastic Salute' emote"
    />
    {{ end }}
  </a>
  <p>Official portrait, 2025</p>
  <table>
    <tbody>
      <tr>
        <th>Born</th>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Died</th>
        <td>Probably not (this isn't auto-updating)</td>
      </tr>
      <tr>
        <th>Interests</th>
        <td>
          <ul>
            <li><a href="{{ relref . "/miku" }}">Vocaloid (all of them)</a></li>
            <li>
              <a href="https://www.youtube.com/watch?v=mIDeD2jatiU">Splatoon</a>
            </li>
            <li><a href="https://kubernetes.io">Kubernetes</a></li>
            <li><a href="https://westbahn.at">Trains</a></li>
            <li>Visiting Hackerspaces</li>
            <li>Randomly browsing Wikipedia for 6 hours straight because I had to look up a small detail</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th colspan="2">Actual facts</th>
      </tr>
      <tr>
        <th>Occupation</th>
        <td>Three letter agency (but like, not the way you think)</td>
      </tr>
      <tr>
        <th>Home Space</th>
        <td><a href="https://metalab.at">Metalab</a></td>
      </tr>
    </tbody>
  </table>
  <div class="enby">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <p>Screw the gender binary</p>
</div>
